.comment-profile-image-mainfeed {
    height: 32px;
    width: 32px;
    border-radius: 20px;
    object-fit: cover;
    /* margin-left: 15px; */
    margin-right: 10px;
}

.name-and-comment-parent-div-mainfeed {
    display: flex;
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
}

.comment-chat-bubble {
    background-color: #3a3b3c;
    /* padding-left: 15px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 15px;
    /* padding: 1px 2px 1px 15px; */
    /* width: 96%; */
    /* margin-bottom: 10px; */
}
.comment-text-edit-delete-buttons {
    display: flex;
    /* width: 100%; */
}

.inner-comment-div-to-expand {
    /* width: 100%; */
}

.create-comment-outer-div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 10px;
}

.single-comment-parent-div {
    /* margin-top: 10px; */
    width: 95%;
    /* display: flex;
    flex-direction: row; */
}

.all-comments-parent-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.inner-create-comment-div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 95%;
    border-top: 1px solid #3e3f42;
    /* padding-bottom: 10px; */
    padding-top: 10px;
}

.create-comment-image-mainfeed {
    height: 32px;
    width: 32px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
    /* margin-left: 15px; */
}

.comment-text-content-input {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 20px;
    background-color: #3a3a3c;
    padding-left: 15px;
    color: #e3e5ea;
    outline: none;
}

.post-comment-button-mainfeed {
    border: none;
    background-color: #242426;
    color: #b0b3b8;
    font-weight: 600;
    font-size: 15px;
    width: 33.3333%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.comment-button-icon {
    margin-right: 5px;
    padding-bottom: 2px;
    height: 20px;
    width: 20px;
    
}

.comment-edit-button {
    display: flex;
    align-items: center;
    font-size: 11px;
    border: none;
    background-color: #3a3a3b;
    color: #b0b2b8;
    padding: 1px;
    margin-right: 5px;
    cursor: pointer;

}
.comment-delete-button {
    font-size: 11px;
    border: none;
    /* background-color: #232425; */
    color: #b0b2b8;
    background-color: #3a3a3b;
    padding: 1px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.comment-date {
    font-size: 10px;
    color: #b0b2b8;
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 5px;
}

.edit-delete-time-comment {
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    align-items: center;
}

.comment-edit-button-icon {
    height: 11px;
    width: 11px;
    margin-right: 2px;

}

.comment-delete-button-icon {
    height: 11px;
    width: 11px;
    margin-right: 2px;
}

.firstname-lastname-comment {
    margin-right: 5px;
}

.comment-content-dj {
    width: fit-content;
    /* padding-right: 10px; */
}


.edit-comment-form {
    width: 100%;
    margin-right: 100px;
}
.edit-comment-input-box {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #b0b3b8;
    background-color: #232425;
    color: #fff;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    /* margin-right: 10px; */
    margin-top: 5px;
}