.main-feed-parent-div {
    padding-top: 70px;
    display: flex;
   margin: 0 auto;
    width: 100%;
    max-width: 1550px;
}

.user-fullname-and-pic-mainfeed {
    display: flex;
    align-items: center;
    color: #e4e5ea;
    margin-bottom: 10px;
    margin-left: 10px;
}

.friends-logo-mainfeed {
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 10px;
}
.mainfeed-profile-image {
    height: 36px;
    width: 36px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 5px;
    
}

.friends-parent-mainfeed {
    display: flex;
    align-items: center;
    color: #e4e5ea;
    width: fit-content;
    text-decoration: none;
}

.post-profile-image-mainfeed {
    
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 5px;
}
.posts-megaparent-div-mainfeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.friends-posts-parent-mainfeed {
    width: 100%;
    border: none;
   
    border-radius: 7px;
    /* width: 40%; */
    color: #fff;
    background-color: #242426;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.post-name-and-image-mainfeed {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px; */
    width: 95%;
}

.center-name-image-editbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.post-image-content-mainfeed {
    
    width: 100%;
}

.post-text-content-mainfeed {
    width: 95%;
    /* margin-bottom: 10px;
    margin-left: 15px; */
    border-bottom: 1px solid #3a3b3c;
    padding-bottom: 10px;
    padding-top: 5px;
}

.center-post-text-content-div {
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
}


.post-comment-button-mainfeed:hover {
    background-color: #3a3a3c;
}

.buttons-at-bottom-of-post-mainfeed {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.left-menu-mainfeed {
    width: 30%;
    
}
.left-menu-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
}

.right-menu-mainfeed {
    width: 30%;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* padding-left: 100px */
}

.right-menu-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    width: 70%;
    margin-left: 30%;
    
    /* align-items: center; */
}

.contacts-name-profilepic {
    display: flex;
    align-items: center;
    color: #e4e5ea;
    margin-bottom: 10px;
    /* width: 33%; */
    /* justify-content: center; */
}

.contacts-label-mainfeed {
    border-top: 2px solid #3e3f42;
    color: #b0b3b8;
    font-weight: 600;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
    padding-top: 20px;
}

.sponsored-pic-mainfeed {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sponsored-section {
    color: #b0b3b8;
    font-weight: 600;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}

.aa-link-div {
    /* display: flex;
    justify-content: center; */
}

.create-a-post-div {
    width: 100%;
    /* border: 2px solid white; */
    background-color: #242426;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    
}

.create-a-post-form-mainfeed {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.post-text-content-input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #3a3a3c;
    padding-left: 15px;
    color: #e3e5ea;
    outline: none;
}

.create-post-image-mainfeed {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
    /* margin-left: 15px; */
}

.inner-create-post-div {
    display: flex;
    /* justify-content: center; */
    width: 95%;
    border-bottom: 1px solid #3e3f42;
    padding-bottom: 10px;
}

.create-post-buttons-div {
    width: 95%;
    display: flex;
}

.post-button-mainfeed {
    width: 33.3333333333%;
    background-color: #242426;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #b1b2b8;
    /* display: flex; */
    /* line-height: 25px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
.post-button-mainfeed:hover {
    background-color: #3a3b3c;
}

.photo-button-mainfeed {
    width: 33.3333333333%;
    background-color: #242426;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #b1b2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
.photo-button-mainfeed:hover {
    background-color: #3a3b3c;
}
.feeling-button-mainfeed {
    width: 33.3333333333%;
    background-color: #242426;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #b1b2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
.feeling-button-mainfeed:hover {
    background-color: #3a3b3c;
}

.create-a-post-icons {
    margin-right: 5px;
}

.edit-delete-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* width: 36px; */
    font-size: 30px;
    color: #b0b3b8;
    align-items: center;
    /* height: 36px; */
    padding-right: 10px;
    /* width: 30%; */
}

.name-and-date-mainfeed {
    width: 85%;
}

.post-first-last-name-mainfeed {
    width: 70%;
}

.dot-dot-dot {
    display: flex;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    height: 5px;
    padding-bottom: 25px;
    padding-top: 6px;

    width: 36px;
    border-radius: 20px;
    cursor: pointer;
    /* margin-bottom: 10px; */
}

.dot-dot-dot:hover {
    background-color: #3a3a3b;
}

.edit-delete-dropdown-menu {
    list-style-type: none;
    border: 1px solid #2c2d2d;
    position: absolute;
    font-size: 15px;
    /* right: 10; */
    top: 0;
    left: 0;
    width: 100px;
    /* left: 0; */
    /* padding: 20px; */
    border-radius:20px;
    /* left: 0; */
    background-color: #232425;
    /* transform-style: preserve-3d; */
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.edit-button-dropdown {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #2c2d2d;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}
.edit-button-dropdown:hover {
    background-color: #3a3a3b;
}

.delete-button-dropdown {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid #2c2d2d; */
    width: 100%;
    padding-top: 12px;
    padding-bottom: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;

}

.delete-button-dropdown:hover {
    background-color: #3a3a3b;
}

.friends-icon-mainfeed {
    height: 36px;
    width: 36px;
    margin-left: 10px;
    margin-right: 5px;
}

.centering-buttons-at-bottom-of-post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    
}

.date-of-post {
    font-size: 10px;
    color: #b1b2b8;
}