.profile-page-parent-div {
    padding-top: 49px;
    /* position: absolute; */
}

.top-half-of-profile-page {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    position: absolute;
    right: 0;
    left: 0;
}

.div-around-background-image-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(35,36,37);
    background: linear-gradient(0deg, rgba(35,36,37,1) 20%, rgba(165,165,165,1) 120%);
}

.background-profile-image {
    width: 60%;
    height: 348px;
    object-fit: cover;
    min-width: 900px;
    max-width: 940px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* z-index: 1; */
}

.section-under-background-image-profile {
    width: 55%;
    background-color: #232425;
    display: flex;
    align-items: center;
    /* position: absolute; */
    max-width: 900px;
    min-width: 860px;
    position: relative;
    height: 110px;
}

.profile-image-on-profile-page {
    height: 168px;
    width: 168px;
    border-radius: 120px;
    object-fit: cover;
    border: 5px solid #232425;
    z-index: 2;
}

.div-around-profile-image {
    height: 180px;
    width: 180px;
    position: absolute;
    /* z-index: 2; */
    /* top: 0; */
}

.profile-page-first-last-name {
    font-size: 32px;
    color: #e3e5ea;
    font-weight: 500;
}

.profile-number-of-friends {
    font-size: 17px;
    color: #b0b3b8;

}
.profile-number-of-friends-below {
    font-size: 13px;
    color: #b0b3b8;
    margin-bottom: 10px;

}

.centering-div-around-name-friends {
    width: 100%;
    margin-left: 185px;
    display: flex;
    align-items: flex-start;
}

.profile-name-and-number-of-friends {
    /* margin-left: 20px; */
    /* position: absolute; */
    width: 55%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
}

.div-to-center-section-under-background {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #232425;

}

.left-side-of-profile-page {
    width: 40%;
    margin-right: 10px;
    color: #e4e6eb;
    /* border: 1px solid white; */
    /* max-width: 454px; */
}

.inner-centering-div-for-profile-page {
    display: flex;
    justify-content: center;
    width: 55%;
    max-width: 875px;
    min-width: 875px;
}

.bottom-half-of-profile-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 550px;
    /* position: absolute; */
}

.posts-megaparent-div-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.section-inbetween-top-and-bottom {
    height: 45px;
    width: 100%;
    background-color: #232425;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 455px; */
    /* position: absolute;
    left: 0;
    right: 0;
    z-index: 1; */

}

.profile-photo-image-url {
    height: 106px;
    width: 100%;
    object-fit: cover;
    padding: 3px;
    box-sizing: border-box;
}

.profile-photos-list {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    padding: 15px;
    /* padding-left: 15px; */

}

.profile-intro {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    padding: 15px;
    /* padding-left: 15px; */
    -webkit-font-smoothing: antialiased;
}

.profile-friends-list {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 15px;
    /* padding-left: 15px; */

}

.profile-friends-section-friendspage {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 15px;
    width: 875px;
    min-width: 875px;
    box-sizing: border-box;
}

.profile-page-friend-image {
    width: 100%;
    height: 101px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.all-friends-links {
    display: flex;
    flex-wrap: wrap;
}

.single-friend-link-profile-page {
    text-decoration: none;
    width: 32%;
    color: #fff;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
}

.div-around-image-on-profile-page {
    width: 32%;
    padding: 2px;
}
.all-pictures-profile-page {
    display: flex;
    flex-wrap: wrap;
}

.friends-firstname-lastname-profile {
    display: flex;
    justify-content: center;
}

.profile-titles-of-sections {
    color: #e4e6eb;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.profile-titles-of-sections-friends {
    color: #e4e6eb;
    font-size: 20px;
    
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.profile-menu-bar {
    padding-left: 30px;
    margin-top: 5px;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    min-width: 875px;
    max-width: 940px;
    color: #e4e6eb;
    font-size: 15px;
    border-top: 1px solid #3e3f42;
}

.timeline-link-menu {
    margin-right: 30px;
    cursor: pointer;
}

.friends-link-menu {
    margin-right: 30px;
    cursor: pointer;

}

.photos-link-menu {
    cursor: pointer;

}

.div-around-add-friend-button {
    max-width: 940px;
    min-width: 875px;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    background-color: #232425;
    height: 36px;

}

.add-friend-button {
    height: 36px;
    width: 127px;
    border: none;
    color: #fff;
    background-color: #4074e0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-friend-icon {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    padding-bottom: 1px;
}

.cancel-request-icon {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    padding-bottom: 1px;
}

.friends-button-profile {
    height: 36px;
    width: 123px;
    background-color: #3a3a3b;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-icon-profilepage {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    padding-bottom: 2px;
}

.centering-div-around-friend-button {
    background-color: #232425;
    display: flex;
    justify-content: center;
    height: 36px;

}

.intro-spans {
    font-weight: 600;
    margin-left: 4px;
}

.intro-inner-divs {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.intro-icons {
    margin-right: 5px;
}


.all-friends-links-friends-section {
    display: flex;
    flex-wrap: wrap;
    /* width: fit-content; */
    /* justify-content: center; */
}

.single-friend-link-friend-section {
    text-decoration: none;
    width: 48.8%;
    /* height: 100px; */
    color: #fff;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    border: 1px solid #313235;
    border-radius: 8px;
    margin-left: 5px;
     margin-right: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.profile-page-friend-image-friend-section {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    /* margin-bottom: 5px; */
    margin-right: 50px;
}

.friends-firstname-lastname-friends-section {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.profile-titles-of-sections-friends-friendstab {
    color: #e4e6eb;
    font-size: 24px;
    margin-left: 10px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.profile-number-of-friends-below-friendstab {
    font-size: 15px;
    color: #b0b3b8;
    margin-bottom: 20px;
    margin-left: 10px;
}

.profile-photos-list-photostab {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    padding: 15px;
    width: 875px;
    min-width: 875px;
    box-sizing: border-box;
    /* padding-left: 15px; */

}

.profile-titles-of-sections-photostab {
    color: #e4e6eb;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-left: 10px;
    -webkit-font-smoothing: antialiased;
}

.all-pictures-profile-page-photostab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.div-around-image-on-profile-page-photostab {
    width: 32.8%;
    padding: 2px;
}

.profile-photo-image-url-photostab {
    height: 277px;
    width: 100%;
    object-fit: cover;
    padding: 3px;
    box-sizing: border-box;
}