.profile-page-parent-div {
    padding-top: 49px;
    /* position: absolute; */
}

.top-half-of-profile-page {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    position: absolute;
    right: 0;
    left: 0;
}

.div-around-background-image-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(35,36,37);
    background: linear-gradient(0deg, rgba(35,36,37,1) 0%, rgba(165,165,165,1) 100%);
}

.background-profile-image {
    width: 60%;
    height: 348px;
    object-fit: cover;
    min-width: 900px;
    max-width: 940px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* z-index: 1; */
}

.section-under-background-image-profile {
    width: 55%;
    background-color: #232425;
    display: flex;
    align-items: center;
    /* position: absolute; */
    max-width: 900px;
    min-width: 860px;
    position: relative;
    height: 110px;
}

.profile-image-on-profile-page {
    height: 168px;
    width: 168px;
    border-radius: 120px;
    object-fit: cover;
    border: 5px solid #232425;
    z-index: 2;
}

.div-around-profile-image {
    height: 180px;
    width: 180px;
    position: absolute;
    /* z-index: 2; */
    /* top: 0; */
}

.profile-page-first-last-name {
    font-size: 32px;
    color: #e3e5ea;
    font-weight: 500;
}

.profile-number-of-friends {
    font-size: 17px;
    color: #b0b3b8;

}

.centering-div-around-name-friends {
    width: 100%;
    margin-left: 185px;
    display: flex;
    align-items: flex-start;
}

.profile-name-and-number-of-friends {
    /* margin-left: 20px; */
    /* position: absolute; */
    width: 55%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
}

.div-to-center-section-under-background {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #232425;

}

.left-side-of-profile-page {
    width: 40%;
    margin-right: 10px;
    color: #e4e6eb;
    /* border: 1px solid white; */
    /* max-width: 454px; */
}

.inner-centering-div-for-profile-page {
    display: flex;
    justify-content: center;
    width: 55%;
    max-width: 875px;
    min-width: 875px;
}

.bottom-half-of-profile-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 550px;
    /* position: absolute; */
}

.posts-megaparent-div-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.section-inbetween-top-and-bottom {
    height: 80px;
    width: 100%;
    background-color: #232425;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    /* margin-top: 455px; */
    /* position: absolute;
    left: 0;
    right: 0;
    z-index: 1; */

}

.profile-photo-image-url {
    height: 106px;
    width: 33%;
    object-fit: cover;
    padding: 3px;
    box-sizing: border-box;
}

.profile-photos-list {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    padding: 10px;

}

.profile-intro {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    padding: 10px;
}

.profile-friends-list {
    background-color: #232425;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 10px;
}

.profile-page-friend-image {
    width: 100%;
    height: 101px;
    object-fit: cover;
    border-radius: 10px;
}
.all-friends-links {
    display: flex;
}

.single-friend-link-profile-page {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
}

.friends-firstname-lastname-profile {
    display: flex;
    justify-content: center;
}

.profile-titles-of-sections {
    color: #e4e6eb;
    font-size: 20px;
}

.profile-menu-bar {
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    width: 875px;
    color: #e4e6eb;
    font-size: 15px;
}

.timeline-link-menu {
    margin-right: 30px;
}

.friends-link-menu {
    margin-right: 30px;

}

.photos-link-menu {

}