.login-splash-page-parent {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-splash {
    width: 100%;
    /* border: 1px solid lightgray; */
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.login-button-splash {
    background-color: #1877f2;
    color: #fff;
    border: none;
    width: 80%;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

.demo-button-splash {
    background-color: #1877f2;
    color: #fff;
    border: none;
    width: 80%;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

.create-account-button-splash {
    background-color: #42b72a;
    color: #fff;
    border: none;
    width: 80%;
    height: 48px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.div-for-login-form-splash {
    border: none;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 20px 0 28px;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 384px;
    height: 360px;
}

.login-email-field-splash {
    width: 80%;
    height: 48px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    background-color: #e8f0fe;
    box-sizing: border-box;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
}

.login-password-field-splash {
    width: 80%;
    height: 48px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    background-color: #e8f0fe;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

.splash-meta-logo {
    color: #1877f2;
    font-size: 70px;
    font-weight: 600;
    /* margin-right: 70px; */
}

.splash-slogan {
    font-size: 24px;
    font-weight: 600;
    width: 70%;
}

.div-around-logo-and-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-bottom: 90px;
    
}

.div-around-login-errors {
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 4px;
    padding-right: 8px;
    color: #be4b48;
    border-radius: 5px;
    margin-bottom: 10px;
}

.div-around-single-error-login {
    display: flex;
    align-items: center;
}