body {
    background-color: #18191a;
}

.navbar-profile-image {
    width: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.navbar-user-firstname {
    color: white
}

.navbar-link-to-profile {
    text-decoration: none;
}

.navbar-parent-div {
    display: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid gray;
    background-color: #3a3b3c;
}



/* #242526
#e4e6eb
#b0b3b8 */